@font-face {
  font-family: "vazir";
  src: url(../public/font/Vazir-Bold.woff);
}

@keyframes coverModel {
  0% {
    background-image: url(../../../public/ghaleb/slide-01.jpg);
  }
  25% {
    background-image: url(../../../public/ghaleb/slide-02.jpg);
  }
  50% {
    background-image: url(../../../public/ghaleb/slide-03.jpg);
  }
  75% {
    background-image: url(../../../public/ghaleb/slide-04.jpg);
  }
  100% {
    background-image: url(../../../public/ghaleb/slide-01.jpg);
  }
}

.baner {
  width: 100%;
  height: 100vh;
  animation: coverModel 15s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}
.boxtext {
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: #db9758;
}

.cover_h2 {
  font-size: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.cover_h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.cover_btn {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--oneColorGray);
  color: white;
  cursor: pointer;
  transition: all ease 0.4s;
  overflow: hidden;
}
.cover_btn:hover {
  background-color: white;
  color: #db9758;
  box-shadow: 0 0 15px rgb(209, 209, 209);
}
.Selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 6rem 0;
}
.imgSelection {
  width: 400px;
  padding: 10px;
}
.imgSelection img {
  width: 100%;
  box-shadow: 0 0 5px rgba(211, 211, 211, 0.453);
  border-radius: 20px;
}
.brands {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
}
.brands img {
  width: 85%;
}

.div_filter {
  overflow: hidden;
}
.h2_Product {
  font-size: 30px;
  text-align: center;
}
.menu_filter {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url(../../../../public/ghaleb/model.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textParallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 23px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
  color: #db9758;
}

@media (max-width: 950px) {
  .div_model h2 {
    position: fixed;
  }
  .brands img {
    width: 90%;
  }
}
@media (max-width: 460px) {
  .boxtext {
    text-align: center;
  }
  .cover_h2 {
    font-size: 35px;
  }
  .cover_h3 {
    font-size: 25px;
  }
  .brands img {
    width: 100%;
  }
}
